<robot name="rabbit">
  <link name="rabbit_cora">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia  ixx="1.0" ixy="0.0"  ixz="0.0"  iyy="1.0"  iyz="0.0"  izz="1.0" />
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://cora_description/models/meshes/base.dae"/>
      </geometry>
    </visual>
  </link>
  <gazebo reference="rabbit_cora">
    <turnGravityOff>1</turnGravityOff>
  </gazebo>
  <gazebo>
    <!--<static>true</static>-->
  </gazebo>
</robot>
